<p *ngIf="bookingDtoToSend && bookingDtoToSend.vehicle">Véhicule sélectionné : {{ bookingDtoToSend.vehicle.model.name }}</p>

<!-- dates -->
<mat-horizontal-stepper class="col-sm-9" [linear]="isLinear" #stepper>
  <mat-step [stepControl]="formAddDate">
    <form [formGroup]="formAddDate">
      <ng-template matStepLabel>Réserver les dates</ng-template>
      <div class="">
        <mat-form-field>
          <input matInput [matDatepicker]="picker" placeholder="Date de départ" formControlName="startDate" required>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <br>
        <mat-form-field>        
          <input matInput [matDatepicker]="picker2" placeholder="Date d'arrivée" formControlName="endDate" required>
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="">
        <mat-form-field *ngIf="depotList"> 
          <mat-label>Dépôt</mat-label>
            <mat-select formControlName="depot">
              <mat-option *ngFor="let depot of depotList" [value]="depot">
                {{depot.city}} 
              </mat-option>
            </mat-select>
        </mat-form-field>        
      </div>
      <div>
          <button mat-button (click)="stepper.reset()">Reset</button>
          <button mat-button matStepperNext (click)="getVehicleAvailable()" [disabled]="!formAddDate.valid">Suivant</button>        
      </div>         
      <label *ngIf="formAddDate.touched && formAddDate.errors">{{ formAddDate.errors?.dates | json }}</label>      
    </form>
  </mat-step>

<!-- vehicles -->
<mat-step [stepControl]="formAddVehicle" [completed]="bookingDtoToSend.vehicle">
  <ng-template matStepLabel>Sélectionner un modèle</ng-template>
  <br>   
  <mat-list-item *ngFor="let vehicle of vehicleList">
    <br>
    <a class="cardList" matLine (click)="selectVehicle(vehicle, stepper)">
      <app-vehicle-row [vehicle]="vehicle"></app-vehicle-row>
    </a>
 </mat-list-item>

</mat-step>
<!-- Options -->
<mat-step [stepControl]="formAddOptions">    
  <ng-template matStepLabel>Ajouter des options</ng-template>
  <br>
  <mat-card>
    <mat-selection-list #optionBooking>        
      <h3>Options réservation</h3>
        <mat-list-option *ngFor="let option of optionBookingList" [value]="option">
          {{option.name}} - {{option.priceString}}
        </mat-list-option>
    </mat-selection-list>
  </mat-card>
  <br>
    <div>
      <button mat-button matStepperPrevious>Retour</button>         
      <button mat-button (click)="validate(optionBooking.selectedOptions.selected)">Valider</button>
    </div>    
  </mat-step>  
</mat-horizontal-stepper>

<div class="col-sm-3">
    <mat-card class="example-card">
        <mat-card-header>                
          <mat-card-title>Réservation en cours</mat-card-title>                
        </mat-card-header>              
        <mat-card-content>
          <p *ngIf="formAddDate.value['startDate']"> Date de départ: {{formAddDate.value['startDate'] | date: 'dd/MM/yyyy' }}</p>
          <p *ngIf="formAddDate.value['endDate']"> Date d'arrivée: {{formAddDate.value['endDate'] | date: 'dd/MM/yyyy'}}</p>
          <p *ngIf="formAddDate.value['depot']">Dépot : {{formAddDate.value['depot'].city}}</p>
          <p *ngIf="bookingDtoToSend.vehicle"> Marquee: {{bookingDtoToSend.vehicle.model.brand.name}}</p>
          <p *ngIf="bookingDtoToSend.vehicle">Modèle: {{bookingDtoToSend.vehicle.model.name}} </p>  
          <h5 *ngIf="bookingDtoToSend.vehicle">Total : {{ getTotalPrice() }}€</h5>
        </mat-card-content>              
      </mat-card>
</div>

