 <p-menubar [model]="items"></p-menubar>  
<!-- 
<mat-card>
<mat-card-content>
<button mat-button [matMenuTriggerFor]="vehicleMenu">Véhicules</button>

<mat-menu #vehicleMenu="matMenu">
  <button mat-menu-item [matMenuTriggerFor]="vehicle">Véhicule</button>
  <button mat-menu-item [matMenuTriggerFor]="brand">Marque</button>
  <button mat-menu-item [matMenuTriggerFor]="model">Modèle</button>
</mat-menu>

<mat-menu #vehicle="matMenu">  
  <button mat-menu-item>Consulter la liste des véhicules</button>
  <button mat-menu-item>Créer un véhicule</button>
</mat-menu>

<mat-menu #brand="matMenu">  
  <button mat-menu-item>Consulter la liste des marques</button>
  <button mat-menu-item>Créer une marque</button>    
</mat-menu>

<mat-menu #model="matMenu">
   <button mat-menu-item>Consulter la liste des modèles</button>
   <button mat-menu-item>Créer un modèle </button> 
</mat-menu>


<button mat-button [matMenuTriggerFor]="ClientMenu">Clients</button>

<mat-menu #ClientMenu="matMenu">
    <button mat-menu-item>Consulter la liste des clients</button>
    <button mat-menu-item>Créer un client</button>
</mat-menu>


<button mat-button [matMenuTriggerFor]="DepotMenu">Dépôts</button>

<mat-menu #DepotMenu="matMenu">
    <button mat-menu-item>Consulter la liste des dépôts</button>
    <button mat-menu-item>Créer un dépot</button>
</mat-menu>


<button mat-button [matMenuTriggerFor]="ReservationMenu">Réservations</button>

<mat-menu #ReservationMenu="matMenu">
    <button mat-menu-item>Consulter la liste des réservations</button>
    <button mat-menu-item>Créer une réservation</button>
</mat-menu>


<button mat-button [matMenuTriggerFor]="ContactMenu">Contact</button>

</mat-card-content>
</mat-card> -->
